/* Custom properties */
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=IBM+Plex+Mono:wght@300&family=Space+Grotesk:wght@300&family=Unbounded&display=swap');
@import "variables.css";
@import "base.css";


:root {
    --background-color-main: #e5d0ff;
    --background-color-secondary: #8c61e7;
    --background-color-main-tr: #e5d0ff4e;
    --text-color-main: #3d1b88;
    --text-color-light: var(--background-color-main);
    --hover-color: var(--background-color-secondary);
    --hover-color-light: var(--background-color-main);
    --font-family-logo: 'Unbounded', cursive;
    --font-family: 'Chivo Mono', monospace;
    --font-size-xsmall: 1.2rem;
    --font-size-small: 1.6rem;
    --font-size-medium: 2.4rem;
    --font-size-large: 3rem;
    --font-size-xlarge: 4rem;
    --gap: 2rem;
    --margin-small: 2rem;
    --margin-medium: 3rem;
    --padding-block-nav: 2rem;
    --item-min-height-small: 20rem;
    --item-min-height-medium: 30rem;
    --item-min-width: 30rem;
    --main-content-container-width: 100rem;
    --box-shadow-card: 0 0 4rem .1rem rgba(0, 0, 0, 0.2);

    /* Util */

    /* --check-border: 1px red solid; */
    --check-border: none;
}

/* Header */

.header {
    background-color: var(--background-color-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: var(--box-shadow-card);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--padding-block-nav);
    width: 100%;
    max-width: calc(var(--main-content-container-width) - 2rem);
    border: var(--check-border);
}

.logo {
    font-family: var(--font-family-logo);
    font-size: var(--font-size-medium);
    color: var(--text-color-light);
    border: var(--check-border);

}

.navmenu {
    width: 100%;
    border: var(--check-border);
}

.list {
    display: flex;
    align-items: center;
    gap: var(--gap);
    flex-direction: row;

}





/* Arrticle-Cards */

.cards-container {
    padding-block: 2rem;
    /* width: 100%; */
    max-width: var(--main-content-container-width);
}




.card-footer,
.card {

    gap: var(--gap);

}

.card {
    position: relative;
    min-height: var(--item-min-height-medium);
    box-shadow: var(--box-shadow-card);

}

.article-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-category {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--background-color-main);
    color: var(--text-color-main);
    text-transform: uppercase;
    z-index: 10;


}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 1.5rem;
    background-color: var(--background-color-main-tr);
    z-index: 10;
    width: 100%;
    transition: background-color .5s;
    border: var(--check-border);
}

.card:hover .card-footer {
    background-color: transparent;
    color: var(--hover-color);
}

.card:hover .article-data-spacer {
    background-color: var(--hover-color);
}

.card:hover .article-title {

    color: var(--hover-color);
}

.card:hover .article-data {
    color: var(--hover-color);
}

.card:hover .article-category {
    background-color: transparent;
    border: 1px solid;
    color: var(--background-color-secondary);
    box-shadow: var(--box-shadow-card);
}

.card:hover .article-title {
    text-decoration: underline;
    text-shadow: none;
}


.article-data {
    color: var(--text-color-main);
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsmall);
    margin-bottom: 1rem;
}

.article-data-spacer {
    width: .3rem;
    height: .3rem;
    background-color: var(--text-color-main);
    border-radius: 50%;

}



.article-title {
    color: var(--text-color-light);
    font-size: var(--font-size-medium);
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

}

/* Newsletter */




.form-container-inner {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    text-align: center;

}

.form {
    display: flex;
    justify-content: center;
}

.form-input,
.form-btn {
    display: inline-block;
    border: 2px solid var(--background-color-secondary);
    padding: 1rem;
}

.form-input {
    border-right: none;
    max-width: 100%;
}

.form-btn {
    margin-left: -.5rem;
    border-left: none;
    background-color: var(--background-color-secondary);
    color: var(--text-color-light);
}

.newsletter {
    padding-top: 10rem;
    padding-bottom: 6rem;
    color: var(--background-color-secondary);

}

.newsletter-title {
    font-size: var(--font-size-small);
    padding-bottom: 2rem;
}

.newsletter-description {
    margin-bottom: 3rem;
    max-width: 50rem;
}

/* Footer */

.footer {
    background-color: var(--background-color-secondary);

}

.footer-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--main-content-container-width);




}

.footer-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;



}

.social-media {
    order: 1;
    margin-bottom: var(--margin-medium);
    flex-direction: row;
    justify-content: space-between;



}

.copyright-notice {
    opacity: .5;
    margin-bottom: var(--margin-medium);
}

.sm-icon {

    fill: var(--text-color-light);
    width: 30px;
    height: 30px;

}



/* Blogpost */

.blog-post {
    padding-bottom: 5rem;
}

.blog-post-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 2.5rem;
}

.blogpost-title {
    font-size: clamp(3rem, 5vw, 5rem);
}

.blog-post-data .article-data {
    margin-bottom: 2.5rem;
}

.blog-post-data img {
    width: 100%;
    height: var(--item-min-height-small);
    object-fit: cover;
    /* object-position: cover 10%; */
}

.blog-post-container .container {
    width: 100%;
    max-width: 90rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap);

}

.quote {
    background-color: var(--background-color-secondary);
    padding: 2.5rem;
    box-shadow: var(--box-shadow-card);
}

.quote p {
    font-style: italic;
}

.quote span {
    font-size: 2rem;
}

.author {
    margin-top: 5rem;
    gap: var(--gap);
    /* height: 15rem; */
    background-color: var(--background-color-secondary);
    grid-template-columns: 10rem 1fr;
    
}

.author-image-box {
    position: relative;
    
}

.author-about {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.author-name {
    color: var(--text-color-light);
    font-weight: 400;
}

.author p {
    width: 100%;
    max-width: 50rem;
    margin-bottom: 1rem;
}

.author-about .social-media {
    width: 100%;
    max-width: 10rem;
    margin-top: auto;
    margin-bottom: 0;
}

/* Media queries*/

@media screen and (min-width: 700px) {


    .author {
        grid-template-columns: 20rem 1fr;
        height: var(--item-min-height-small);
    }

    .author img {
        height: var(--item-min-height-small);
    }




}

@media screen and (min-width: 768px) {


    .blog-post-data img {
        height: var(--item-min-height-medium);
        width: 90rem;


    }

    .footer-data {

        flex-direction: row;
        justify-content: space-between;
        width: 100%;


    }

}

@media screen and (min-width: 1024px) {

    .blog-post-data img {
        height: 40rem;

    }

    .form-container-inner {
        max-width: var(--main-content-container-width);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        width: calc(var(--main-content-container-width) - 3rem);
    }

    .form-input {
        width: 40rem;
    }



}