/* Newsletter */




.form-container-inner {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    text-align: center;

}

.form {
    display: flex;
    justify-content: center;
}

.form-input,
.form-btn {
    display: inline-block;
    border: 2px solid var(--background-color-secondary);
    padding: 1rem;
}

.form-input {
    border-right: none;
    max-width: 100%;
}

.form-btn {
    margin-left: -.5rem;
    border-left: none;
    background-color: var(--background-color-secondary);
    color: var(--text-color-light);
}

.newsletter {
    padding-top: 10rem;
    padding-bottom: 6rem;
    color: var(--background-color-secondary);

}

.newsletter-title {
    font-size: var(--font-size-small);
    padding-bottom: 2rem;
}

.newsletter-description {
    margin-bottom: 3rem;
    max-width: 50rem;
}