/* Variables */

:root {
    --background-color-main: #e5d0ff;
    --background-color-secondary: #8c61e7;
    --background-color-main-tr: #e5d0ff4e;
    --text-color-main: #3d1b88;
    --text-color-light: var(--background-color-main);
    --hover-color: var(--background-color-secondary);
    --hover-color-light: var(--background-color-main);
    --font-family-logo: 'Unbounded', cursive;
    --font-family: 'Chivo Mono', monospace;
    --font-size-xsmall: 1.2rem;
    --font-size-small: 1.6rem;
    --font-size-medium: 2.4rem;
    --font-size-large: 3rem;
    --font-size-xlarge: 4rem;
    --gap: 2rem;
    --margin-small: 2rem;
    --margin-medium: 3rem;
    --padding-block-nav: 2rem;
    --item-min-height-small: 20rem;
    --item-min-height-medium: 30rem;
    --item-min-width: 30rem;
    --main-content-container-width: 100rem;
    --box-shadow-card: 0 0 4rem .1rem rgba(0, 0, 0, 0.2);

    /* Util */

    /* --check-border: 1px red solid; */
    --check-border: none;
}