/* Custom properties */
@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Roboto+Mono&display=swap');

:root {
    --background-color-main: #e5d0ff;
    --background-color-secondary: #8c61e7;
    --background-color-main-tr: #e5d0ff4e;
    --text-color-main: #000;
    --text-color-light:var(--background-color-main);
    --hover-color: var(--background-color-secondary);
    --hover-color-light: var(--background-color-main);
    --font-family-logo: 'Changa One', cursive;
    --font-family: 'Roboto Mono', monospace;
    --font-size-xsmall: 1.2rem;
    --font-size-small: 1.6rem;
    --font-size-medium: 2.4rem;
    --font-size-large: 3rem;
    --font-size-xlarge: 4rem;
    --gap: 2rem;
    --margin-small: 2rem;
    --margin-medium: 3rem;
    --item-min-height-small: 20rem;
    --item-min-height-medium: 30rem;
    --item-min-width: 30rem;
    --main-content-container-width: 100rem;

    /* Util */

    /* --check-border: 1px red solid; */
    --check-border: none;
}


/* Base styles */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    color: var(--text-color-main);
    background-color: var(--background-color-main);
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

input,
button {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;

}

i {
    font-size: var(--font-size-medium);
}

.container {
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* .place-items-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;

} */

.grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(min(var(--item-min-width), 100%), 1fr));
    gap: var(--gap);

}

/* .section {
    padding-block: 5rem;
} */


/* Header */

.header {
    background-color: var(--background-color-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    /* box-sizing: border-box; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
    
    max-width: calc(var(--main-content-container-width) - 2rem);

       /* padding: 1.5rem; */
    border: var(--check-border);
    /* writing-mode: horizontal-tb; */

}

.logo {
    font-family: var(--font-family-logo);
    font-size: var(--font-size-medium);
    color: var(--text-color-light);
    /* padding: 1.5rem; */

    border: var(--check-border);

}

.navmenu {
    /* position: absolute; */
    /* top: 7.5rem; */
    width: 100%;
    /* padding: 1.5rem; */
    border: var(--check-border);
    /* transition: opacity .25s ease-in; */
}

.list {
    display: flex;
    align-items: center;
    gap: var(--gap);
    flex-direction: row;

}

/* .menu>.list {
    flex-direction: row;
} */

.list-link.selected {
    color: var(--background-color-secondary);
    font-weight: bold;
}

.btn {
    cursor: pointer;

}

.list-link:hover {
    color: var(--background-color-main);
}

.btn:hover {
    color: var(--background-color-main);
}

/* Arrticle-Cards */

.cards-container {
    padding-block: 2rem;
    border: var(--check-border);
    max-width: var(--main-content-container-width);

}

.section-header-offset {
    margin-top: 5rem;
}



.card-footer,
.card {

    gap: var(--gap);

}

.article {
    position: relative;
    min-height: var(--item-min-height-medium);
    border: var(--check-border);
}

.article-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s;
    border: var(--check-border);

}

.article-category {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--background-color-main);
    color: var(--background-color-secondary);
    text-transform: uppercase;
    z-index: 10;
    border: var(--check-border);

}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 1.5rem;
    background-color: var(--background-color-main-tr);
    z-index: 10;
    width: 100%;
    transition: background-color .5s;
    border: var(--check-border);
}

.article:hover .card-footer {
    background-color: transparent;
    color: var(--hover-color);
}

.article:hover .article-data-spacer {
    background-color: var(--hover-color);
}

.article:hover .article-title {

    color: var(--hover-color);
}

.article:hover .article-data {
    color: var(--hover-color);
}

.article:hover .article-category {
    background-color: transparent;
    border: 1px solid;
}


.article-data {
    color: var(--background-color-secondary);
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsmall);
    margin-bottom: 1rem;
}

.article-data-spacer {
    width: .3rem;
    height: .3rem;
    background-color: var(--background-color-secondary);
    border-radius: 50%;

}

.title {
    color: var(--text-color-light);
    font-family: var(--font-family-logo);
}

.article-title {


    font-size: var(--font-size-medium);
}

/* .read-button{
    position: relative;
    margin-bottom: 1rem;
    margin-top: 2rem;

} */


